<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shoppr.shoper">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".SendBird.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:networkSecurityConfig="@xml/security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shoper"
        android:usesCleartextTraffic="true"
        tools:targetApi="n">
        <activity
            android:name=".activity.InitilizingActivity"
            android:label="@string/title_activity_initilizing"
            android:theme="@style/Theme.Shoper.NoActionBar"></activity>
        <activity
            android:name=".activity.CallingServiceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CallTheme" />
        <activity
            android:name=".activity.ImageZoomActivity"
            android:label="Gallery"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HelpActivity"
            android:label="Help"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FindingShopprActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FindingTheme" />
        <activity
            android:name=".activity.RegisterMerchantActivity"
            android:label="Register as a Merchant"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NotificationListActivity"
            android:label="Notification"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditLocationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activity.OrderDetailsActivity"
            android:label="Order Details"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyOrderActivity"
            android:label="Order"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OrderConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChatDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ChatTheme" />
        <activity
            android:name=".activity.ChatHistoryActivity"
            android:label="Chat History"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TrackLoactionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShareLocationActivity"
            android:label="Share Location"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ViewCartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ChatTheme">
            <intent-filter>
                <action android:name="chat_screen" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.UpdateProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddMoneyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyAccount"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SotoreDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OtpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/loginTheme" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/loginTheme" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_UOxHxOruy0x9uP" />

        <activity
            android:name=".MapsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StorelistingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/loginTheme" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".notifications.FirebaseMessageReceiver"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
 <activity
            android:name="com.hallo.hallobasket.activity.Notification_Activity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="notification_screen"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".SendBird.call.VideoCallActivity"
            android:configChanges="orientation|smallestScreenSize|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/CallTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".SendBird.call.VoiceCallActivity"
            android:configChanges="orientation|smallestScreenSize|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/CallTheme"
            tools:ignore="LockedOrientationActivity" />

        <service
            android:name=".SendBird.call.CallService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false" />
<!--        <service-->
<!--            android:name=".SendBird.fcm.MyFirebaseMessagingService"-->
<!--            android:enabled="true"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.MESSAGING_EVENT" />-->
<!--            </intent-filter>-->
<!--        </service>-->

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>